
   

.weather-app-wrapper {
max-width: 700px;
margin: 30px auto;

}
 
.weather-app {
max-width: 700px;
margin: 30px auto;
padding: 20px;
border: 1px solid #dadde1;
border-radius: 5px;
 background: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
}

#location-button {
font-size: 11px;

}

button:hover {
    cursor: pointer;
}

#locationa-button :hover {
cursor: pointer;

}


h1 {

    font-size: 24px;
    font-weight: 100;
    line-height: 28px;
    margin-bottom: 0;

}

ul {
    margin: 0;
    padding: 0;

}

li {
    list-style: none;
    margin: 0;
    padding: 0;
    color: rgb(135,135,135);
    font: 16px;
    font-weight: 100;
    line-height: 19px;

}

h2 {
    font-size: 42px;
    left: -25px;
}

.overview {
    margin-bottom: 20px;
}

.weather-temperature img {
    margin-right: 10px;
    height: 64px;
    width: 64px;
}

#temp  {
    color: rgb(33, 33, 33);
    font-size: 40px;
    font-weight: 400;

}

 .humidity {
    position: relative;
    top: -45px;
    left: -08px;
}

.wind {
    position: relative;
    top: -25px;
    left: -110px;
}

.col {
    margin-top: 10px;
}

.weather-forecast {

}

footer {
    margin-top: 10px;
    font-size: smaller;

}